.carousel {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 5%;
}

.carousel-item {
  margin-top: 5%;
  width: 50%;
  height: 50%;
}
.needs-validation {
  margin-top: 10%;
  margin-right: 15%;
}
